<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305530821720-9s2so50dvkeua7f21su753u3o6ol9oqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305530821720-9s2so50dvkeua7f21su753u3o6ol9oqm</string>
	<key>API_KEY</key>
	<string>AIzaSyAgZlMIygW08hGqSVZpQ4_ijxTinNNrvi4</string>
	<key>GCM_SENDER_ID</key>
	<string>305530821720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bitnews</string>
	<key>PROJECT_ID</key>
	<string>bit-news-6fef6</string>
	<key>STORAGE_BUCKET</key>
	<string>bit-news-6fef6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305530821720:ios:868be0d1baf16e1b047e2d</string>
</dict>
</plist>